<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | About Me</title>
{% seo title=false %}
    <link rel="stylesheet" href="{{ "/assets/css/customstyle.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>

        {% if site.logo %}
          <p>
          <img src="{{site.logo | relative_url}}" alt="Logo" />
          </p>
        {% endif %}

        <p>{{ site.description }}</p>

        <ul class="social-list">
          <li><a href="{{ site.googlescholar }}" target="_blank"><span class="fas fa-graduation-cap fa-fw"></span><span> My Google Scholar</span></a></li>
          <li><a href="{{ site.labpage }}" target="_blank"><span class="fas fa-flask fa-fw"></span><span> My Research Group</span></a></li>
          <li><a href="{{ site.github.owner_url }}" target="_blank"><span class="fab fa-github fa-fw"></span><span> My Github Profile</span></a></li>
        </ul>
        <hr>
        {% include news.html %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
